/Pessoa/nbproject/private/
/Pessoa/build/
/ProjetoFinal/nbproject/private/
/ProjetoFinal/build/
/ProjetoFinal/dist/
/JavaFXApplication5/nbproject/private/
/Worksshop/nbproject/private/
/CadastroAnimais/nbproject/private/
/CadastroAnimais/build/
/CadastroAnimais/dist/
/AnimaisFazenda/nbproject/private/
/AnimaisFazenda/build/
/AnimaisFazenda/dist/
/vai/target/
/CadastroFazenda/target/
